.root {
    -fx-background-color: #393E46;
    -fx-background-radius: 10;
}

.mainPane {
    -fx-background-color: #393E46;
    -fx-background-radius: 15 15 25 25;
}

.equalsBtn, .button, .aCbtn, .mainDis {
    -fx-background-radius: 10;
}

.button, .mainDis {
    -fx-background-color: #222831;
}

.button:hover {
    -fx-background-color: #FFD369;
}

.aCbtn {
    -fx-background-color: #D65A31;
}

.equalsBtn {
    -fx-background-color: #EEEEEE;
}